.bgButton {
     background: #ff2035;
     color: #000000;
     width: 200px;
     margin: 3px auto;
     border: 2px solid #DDD;
     border-right: 2px solid #ccc;
     border-bottom: 2px solid #ccc;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     box-shadow: 2px 4px 6px #ddd;
     -moz-box-shadow: 2px 2px 4px #ddd;
     -webkit-box-shadow: 2px 2px 4px #ddd;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     cursor: default;
 }

.bgButton:active {
    margin: 10px auto;
    border: 2px solid #999;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.button {
    text-align: center;
    background: #ababab;
    margin: 10px auto;
}