@import "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";
@import "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css";
@import "http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic";
@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800";

/* Large desktop */
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
    .linediv-l {
        border-right: 1px white solid;
    }
    .linedic-r {
        border-left: 1px white solid;
    }
}

/* Main body and headings */
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}
p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 18px;
    line-height: 24px;
}

/* Marketing Copy and Footer */
.copy {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
}
.asset {
    padding: 2.5% 0%;
}
.footer {
    color: #cccccc;
    text-align: center;
}
.footer p {
    font-size: 11px;
}
.footer a {
    color: #ccccff;
}