@import "http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic";
@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800";

/* Large desktop */
@media (min-width: 980px) {
    body {
        padding-top: 20px;
    }
    .linediv-l {
        border-right: 1px white solid;
    }
    .linedic-r {
        border-left: 1px white solid;
    }
}

 /*Main body and headings*/
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}