<div id="toolbar">
    <h1 class="customTitle">Nightscout</h1>

    <%if (type !== 'index') { %>
        <a href="/" class="closeButton button-close"><span>X</span></a>
    <% } %>

    <%if (type === 'food') { %>
      <div id="buttonbar">
        <b> <span class="translate">Status</span>:</b> <span id="fe_status" class="translate">Not loaded</span>
      </div>
    <% } %>
    <%if (type === 'profile') { %>
      <div id="buttonbar">
        <b> <span class="translate">Status</span>:</b> <span class="pe_status translate">Not loaded</span>
      </div>
    <% } %>
    <%if (type === 'index') { %>
        <div id="buttonbar" role="navigation" aria-label="Menu" >
            <a id="boluscalcDrawerToggle" class="tip" original-title="Bolus Wizard" aria-label="Bolus Wizard" href="#" style="display:none;"><i class="icon-calc"></i></a>
            <a id="treatmentDrawerToggle" class="tip" original-title="Care Portal" aria-label="Care Portal" href="#" style="display:none;"><i class="icon-plus"></i></a>
            <a id="lockedToggle" class="tip" original-title="Token needed for Care Portal" aria-label="Token needed for Care Portal" href="#" style="display:none;"><i class="icon-lock"></i></a>
            <a id="drawerToggle" class="tip" original-title="Settings" aria-label="Settings" href="#"><i class="icon-menu"></i></a>
            <a id="testAlarms" class="tip" original-title="Alarm Test / Smartphone Enable" aria-label="Alarm Test / Smartphone Enable" href="#"><i class="icon-volume"></i></a>
            <a id="editbutton" class="tip" original-title="Edit Mode" aria-label="Edit Mode" href="#" style="display:none;"><i class="icon-edit"></i></a>
        </div>
    <% } %>
</div>

<%if (title) { %>
    <div class="toolbar-title">
        <h2 class="translate"><%= title %></h1>
    </div>
<% } %>