# Don't include the .git history in the Docker image:
.git
.github

# Items from .gitignore
bower_components/
node_modules/
mongo-data/
bundle/bundle.out.js
.idea/
*.iml
*.env
static/bower_components/
.*.sw?
.DS_Store
.vagrant
/iisnode
coverage/
npm-debug.log

# exclude testing-stuff
tests/
testing/

#
CONTRIBUTING.md
crowdin.yml
docker-compose.yml
Makefile
README.md
