
.icon-help-circled:before { content: '\e800'; } /* '' */
.icon-angle-double-up:before { content: '\e801'; } /* '' */
.icon-angle-double-down:before { content: '\e802'; } /* '' */
.icon-sliders:before { content: '\e803'; } /* '' */
.icon-volume:before { content: '\e80a'; } /* '' */