<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Nightscout - Boot error</title>

  <link href="/images/round1.png" rel="icon" id="favicon" type="image/png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">

  <style type="text/css">
    @import url("//fonts.googleapis.com/css?family=Open+Sans:700");

    table {
        margin: auto;
        width: 70%;
    }

    td {
        vertical-align: top;
    }

    body {
        font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
    }
  </style>
</head>

<body>

<table>
<tr>
<td width='40%'>

<img src="/images/errorcat.jpg" width="90%">
    
</td>
<td>

<h1>Oops - Nightscout is having trouble</h1>

<p>Don't panic, we can work this out! This happens to the best of us.</p>
<p>Check the errors below and then refer to the
    <a href="https://nightscout.github.io/">troubleshooting documentation</a>.</p>

<h2>Errors occurred during startup:</h2>
    <dl><%- errors %></dl>
</td>
</tr>
</table>
</center>
</body>

</html>
