<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>NightScout</title>
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='../css/main.css'>
    </head>
    <body>
        <div class="main-wrapper">
            <div class="row" style="margin:0 0 0 0; padding:0 0 0 0;">
                <div class="col-xs-6 text-center" style="font-size: 600%; padding:0 0 0 0; margin:0 0 0 0;">
                    <div id='currentTime'>---</div>
                    <div style='font-size: 25%;'>
                        <span id='lastEntry'>---</span>
                    </div>
                </div>
                <div class="col-xs-6 text-center" style="font-size: 900%; padding:0px 10px 0 10px; margin:0 0 0 0;">
                    <div id='noButton'>
                        <span class='currentBG'>---</span>
                        <span class="currentDirection">-</span>
                    </div>
                    <div id='bgButton' hidden='true' class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                        <span class='currentBG'>---</span>
                        <span class="currentDirection">-</span>
                    </div>
                    <ul class="dropdown-menu" id="silenceBtn" role="menu" style="left: 50px;">
                        <li><a href="#" data-snooze-time="1800000">Silence for 30 minutes</a></li>
                        <li><a href="#" data-snooze-time="3600000">Silence for 60 minutes</a></li>
                        <li><a href="#" data-snooze-time="5400000">Silence for 90 minutes</a></li>
                        <li><a href="#" data-snooze-time="7200000">Silence for 120 minutes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12" id='chartContainer' style="height:68%; margin:0 0 0 0; padding:0 0 0 0;"></div>
            
            <input type="image" id="btn-logout" src="../images/close.png" style="position: fixed; height:22px; top:40px; left:10px;" title="Logout">
            <% if (om === "auto") { %>
            <input type="image" id="btn-toggle" src="../images/warning-normal.png" style="position: fixed; height:25px; top:70px; left:8px;" title="Set observing mode to manual">
            <% } else { %>
            <input type="image" id="btn-toggle" src="../images/warning.png" style="position: fixed; height:25px; top:70px; left:8px;" title="Set observing mode auto">
            <% } %>
            <input type="image" id="btn-settings" src="../images/gear.png" style="position: fixed; height:25px; top:100px; left:8px;" title="Settings">
            <a id="testAlarms" href="#" style="position: fixed; top:130px; left:8px;" title="Test Sound">
                <img src="../images/music-red.png" style="height:23px;">
            </a>

        </div>
        <div class="audio alarms">
        <audio src='../audio/alarm.mp3' preload="auto" loop="true" class="alarm mp3" type='audio/mp3'></audio>
        <audio src='../audio/alarm2.mp3' preload="auto" loop="true" class="urgent alarm2 mp3" type='audio/mp3'></audio>
        </div>

        <script src='../socket.io/socket.io.js'></script>
        <script src='../bower_components/d3/d3.min.js'></script>
        <script src='../bower_components/jquery/dist/jquery.min.js'></script>
        <script src='../js/client.js'></script>
        <script src='../bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
  
    </body>
</html>
