#drawer {
    background-color: #666;
    border-left: 1px solid #999;
    box-shadow: inset 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    color: #eee;
    display: none;
    font-size: 16px;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    margin-top: 45px;
    right: -200px;
    width: 200px;
    top: 0;
    z-index: 1;
}
#drawer i {
    opacity: 0.6;
}

#treatmentDrawer {
    background-color: #666;
    border-left: 1px solid #999;
    box-shadow: inset 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    color: #eee;
    display: none;
    font-size: 16px;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    margin-top: 45px;
    right: -200px;
    width: 300px;
    top: 0;
    z-index: 1;
}
#treatmentDrawer i {
    opacity: 0.6;
}

#treatmentDrawer a {
  color: white;
}

#treatmentDrawer input {
  box-sizing: border-box;
}

#treatmentDrawer label.left-column {
  display: block;
  width: 100%;
}

#treatmentDrawer label.left-column span {
  width: 110px;
  display: inline-block;
}

#treatmentDrawer label.left-column input, #treatmentDrawer label.left-column select {
  width: 140px;
}

#treatmentDrawer #glucoseValue {
  width: 230px;
}

#treatmentDrawer #notes {
  width: 250px;
}

#about {
    margin-top: 1em;
}
#about div {
    font-size: 0.75em;
}
#about .links {
    margin-top: 1em;
    margin-bottom: 1em;
}
#about a {
    color: #fff;
}

form {
    margin: 0;
    padding: 0 10px;
}

.serverSettings {
    display: none;
}

fieldset {
    margin: 0.5em 0 1em 0;
}
legend {
    font-size: 1.1em;
}
dl {
    margin: 0 0 1em 0;
}
dl:last-child {
    margin-bottom: 0;
}
dd {
    margin-left: 0;
}

dd.numbers input {
    text-align: right;
    width: 50px;
}
dd.numbers label {
    display: block;
    float: left;
    width: 50px;
}

h1, legend,
#about .appName,
#about .version {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#about .appName {
    font-size: 1em;
}
#about .version {
    font-size: 1.25em;
    margin-left: 0.25em;
}

#toolbar {
    background: url(/images/logo2.png) no-repeat 3px 3px #333;
    border-bottom: 1px solid #999;
    top: 0;
    margin: 0;
    height: 44px;
}

#toolbar h1 {
    color: #ccc;
    font-size: 16px;
    margin-top: 0;
    margin-left: 42px;
    padding-top: 10px;
    padding-right: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#buttonbar {
    padding-right: 10px;
    height: 44px;
    opacity: 0.75;
    vertical-align: middle;
    position: absolute;
    right: 0;
}

#buttonbar a,
#buttonbar i {
    color: #ccc;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
}
#buttonbar a {
    float: left;
    text-decoration: none;
    width: 34px;
}
#buttonbar i {
    padding-left: 12px;
}

.icon-battery-25,
.icon-battery-50,
.icon-battery-75,
.icon-battery-100,
.icon-angle-double-up {
    font-size: 21px !important;
    padding-left: 9px !important;
}

#showToolbar,
#notification {
    display: none;
    font-size: 14px;
    position: absolute;
}
#showToolbar {
    opacity: 0.5;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 98;
}
#showToolbar a {
    border: solid #fff 1px;
    border-radius: 5px;
    border-top: 0;
    color: #fff;
    margin: 0 auto;
    padding: 2px;
}



#notification,
#notification a {
    overflow: hidden;
}
#notification {
    opacity: 0.75;
    top: 4px;
    z-index: 99;
}
#notification.info a {
    background: #00f;
    color: #fff;
}
#notification.warn a {
    background: #cc0;
    color: #000;
}
#notification.success a {
    background: #090;
    color: #fff;
}
#notification.urgent a {
    background: #c00;
    color: #fff;
}
#notification a {
    background: #c00;
    border-radius: 5px;
    color: #fff;
    display: block;
    height: 20px;
    padding: 0.5em;
    text-decoration: none;
}
#notification span {
    margin-right: 0.25em;
}
#notification i {
    float: right;
    opacity: 0.5;
    vertical-align: top;
}

.experiments a {
    color: #fff;
    font-size: 1.5em;
}
