body {
    margin: 0;
    padding: 0;
    overflow: none;
}
.row-fluid {
    margin: 0 8px;
}

.container {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    width: 100%;
    top: 45px;
    z-index: 2;
}

#drawer {
    background-color: #666;
    border-left: 1px solid #999;
    box-shadow: inset 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    color: #eee;
    display: none;
    height: calc(100% - 45px);
    overflow-y: auto;
    position: absolute;
    margin-top: 45px;
    right: -200px;
    width: 200px;
    top: 0;
    z-index: 1;
}

form {
    margin: 0;
    padding: 0 10px;
}
fieldset.numbers input {
    text-align: right;
    width: 50px;
}
fieldset.numbers label {
display: block;
    float: left;
    width: 50px;
}

h1, h2, h3, h4 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#toolbar {
    background: url(/images/logo.png) no-repeat 3px 3px #333;
    border-bottom: 1px solid #999;
    top: 0;
    margin: 0;
    height: 44px;
}

#toolbar h1 {
    margin-top: 0;
    margin-left: 42px;
    padding: 10px;
    color: #ccc;
    font-size: 16px;
    line-height: 22px;
}
#buttonbar {
    padding: 0;
    float: right;
    height: 44px;
    width: 88px;
    opacity: 0.5;
}
#buttonbar a {
    float: left;
    width: 44px;
    height: 44px;
}
#drawerToggle {
    background: url(/images/open.png) center center no-repeat;
}
#testAlarms {
    background: url(/images/speaker.png) center center no-repeat;
}
