@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800");

/* Large desktop */
@media (min-width: 980px) {
  body {
    padding-top: 20px;
  }
  .linediv-l {
    border-right: 1px white solid;
  }
  .linedic-r {
    border-left: 1px white solid;
  }
}

html {
  height: 75%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  fill: #fff;
  background: #000;
  color: #808080;
}
.heading, .subheading {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}

#chartContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#chartContainer svg {
  width: 100%;
  height: 100%;
}

.container {
  overflow: hidden;
  height: auto;
  display: block;
}

.open-right, .open-left {
  shape-rendering: crispEdges;
}
.grid path, .axis line {
  stroke: #808080;
  stroke-opacity: 1;
}

.brush .extent {
  stroke: #ffffff;
  stroke-opacity: 0;
  fill-opacity: 0;
}

@media (max-width: 815px) {    
  body {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 60%;
  }

  #chartContainer {
    font-size: 150%;
  }
}

@media (max-width: 510px) {
  body {
    font-size: 50%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 40%;
  }
  #chartContainer {
    font-size: 150%;
  }
}

[class*='span']{float:left;min-height:1px;}

.span1{width: 20%; float: left; padding-top: 3%; line-height: 50%;}

.span2{margin-left: 35%; float: right;}

#noButton {
  padding: 2px;
}

#bgButton {
  background: #ff2035;
  color: #000000;
  width: auto;
  border: 2px solid #DDD;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 4px 6px #ddd;
  -moz-box-shadow: 2px 2px 4px #ddd;
  -webkit-box-shadow: 2px 2px 4px #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin-right: 37px;
}

.bgButton:active {
  background: #850406;
  border: 2px solid #999;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.button {
  text-align: center;
  background: #ababab;
  margin: 10px auto;
}

#silenceBtn, #silenceBtn * {
  font-size: 70%;
}

#testAlarms {
  font-size: 20%;
  color: blue;
  text-decoration: none;
}
