@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800");
@import url("/glyphs/css/fontello.css");


html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: #000;
  color: #bdbdbd;
}

.container {
  bottom: 0;
  display: block;
  left: 0;
  margin: 0;
  padding: 0;
  top: 45px;
  z-index: 2;
}

#container.announcing .customTitle {
  color: orange;
}

#container.alarming.urgent .customTitle {
  color: red;
}

#container.alarming.warning .customTitle {
  color: yellow;
}

.primary {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  vertical-align: middle;
  clear: both;
}

.bgStatus {
  float: right;
  text-align: center;
  white-space: nowrap;
  padding-right: 20px;
}

.urgent .bgButton {
  color: red;
}

.warning .bgButton {
  color: yellow;
}

.inrange .bgButton {
  color: #4cff00;
}

.bgStatus .currentBG {
  font-size: 120px;
  line-height: 100px;
  text-decoration: line-through;
  vertical-align: middle;
}

.bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
  font-size: 90px;
}

.bgStatus .pill.direction {
  font-weight: normal;
  text-decoration: none;
  font-size: 90px;
  line-height: 90px;
  vertical-align: middle;
  border: none;
  background: none;
}

.bgStatus .majorPills {
  font-size: 30px;
  line-height: 34px;
}

.minorPills {
  font-size: 22px;
  line-height: 25px;
  z-index: 500;
  white-space: normal;
}

.majorPills > span:not(:first-child) {
  margin-left: 5px;
}

.minorPills > span:not(:first-child) {
  margin-left: 5px;
}

.pill {
  white-space: nowrap;
  border-radius: 5px;
  border: 2px solid #808080;
  background: #808080;
  display: inline-block;
  margin-bottom: 4px;
  padding: 2px 0;
}

.pill em, .pill label {
  padding: 2px;
  white-space: nowrap;
}

.pill em {
  font-style: normal;
  font-weight: bold;
  background: #000;
  border-radius: 3px;
}

.pill label {
  color: #000;
}

.container .pill.warn em {
  color: yellow;
}

.container .pill.urgent em {
  color: red;
}

.alarming-timeago .timeago.pill.warn {
  border-color: yellow;
}
.alarming-timeago .timeago.pill.warn label {
  background: yellow;
}

.alarming-timeago .timeago.pill.urgent {
  border-color: red;
}
.alarming-timeago .timeago.pill.urgent label {
  background: red;
}

.bgStatus.current .currentBG {
  text-decoration: none;
}

.alarming-timeago .bgStatus.current .currentBG {
  text-decoration: line-through;
}

.status {
  color: #808080;
  font-size: 100px;
}
.statusBox {
  text-align: center;
  width: 250px;
}
.statusPills {
  font-size: 20px;
  line-height: 23px;
}

.loading .statusPills {
  display: none;
}

.statusPills .pill {
  background: #808080;
  border-color: #808080;
  margin-right: 5px;
}

.statusPills .pill em {
  color: #bdbdbd;
}

#chartContainer {
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  font-size: 20px;
  background: #111;
  display: block;
  position: absolute;
  margin: 2px;
  overflow: hidden;
}

#chartContainer svg {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#silenceBtn {
  z-index: 99;
  border-radius: 5px;
  border: 2px solid #bdbdbd;
}

#silenceBtn a {
  font-size: 40px
}

.bgButton {
  margin: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  display: inline-block;
  width: 360px;
}

.loading .pill.rawbg {
  display: none;
}

.pill.rawbg {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #808080;
  padding: 0;
}

.pill.rawbg em {
  color: white;
  background-color: black;
  display: block;
  font-size: 20px;
  border-radius: 0;
  padding: 0 2px;
}

.pill.rawbg label {
  display: block;
  font-size: 14px;
  padding: 0 2px;
}

.alarming .bgButton {
  border-color: #bdbdbd;
  color: #000;
  box-shadow: 2px 2px 0 #ddd;
}

.alarming.urgent .bgButton {
  background-color: red;
}

.alarming.warning .bgButton {
  background-color: yellow;
}

.alarming .bgButton:active {
  border: 2px solid #bdbdbd;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


.button {
  text-align: center;
  background: #ababab;
  margin: 10px auto;
}

.tooltip {
  top: 0;
  left: 0;
  color: #444;
  position: absolute;
  text-align: left;
  padding: 4px;
  font-size: 14px;
  line-height: 15px;
  background: white;
  border: 0;
  border-radius: 8px;
  float: right;
  min-width: 150px;
  max-width: 400px;
}

.alarms {
  display: none;
}

.loading .focus-range {
  display: none;
}

.focus-range {
  list-style: none;
  margin: 4px;
  padding: 0;
  color: #808080;
  width: 250px;
  text-align: center;
}

.focus-range li {
  display: inline-block;
  font-size: 18px;
  white-space: nowrap;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
}

.focus-range .selected {
  border-color: #808080;
  color: #000;
  background: #808080;
}

.pill.hidden {
  display: none;
}

@media (max-width: 800px) {
  .bgStatus {
    width: 300px;
  }

  .bgButton {
    width: auto;
  }

  .bgStatus .currentBG {
    font-size: 80px;
    line-height: 80px;
  }

  .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
    font-size: 70px;
  }

  .bgStatus .pill.direction {
    font-size: 70px;
    line-height: 70px;
  }

  .bgStatus .majorPills {
    font-size: 20px;
    line-height: 24px;
  }

  .bgStatus .minorPills {
    font-size: 16px;
    line-height: 18px;
  }

  .status {
    font-size: 70px;
    padding-top: 8px;
  }

  .statusPills {
    font-size: 15px;
    line-height: 17px;
  }

  .focus-range {
    margin: 0;
  }

  .focus-range li {
    font-size: 14px;
  }

  #silenceBtn a {
    font-size: 30px;
  }

  #chartContainer {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .bgStatus {
    width: 240px;
    padding: 0;
  }

  .pill.rawbg em {
    font-size: 14px;
  }

  .pill.rawbg label {
    font-size: 12px;
  }

  .bgStatus .currentBG {
    font-size: 70px;
    line-height: 60px;
  }

  .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
    font-size: 50px;
  }

  .bgStatus .pill.direction {
    font-size: 50px;
    line-height: 50px;
  }

  .bgStatus .majorPills {
    font-size: 15px;
    line-height: 17px;
  }

  .bgStatus .minorPills {
    font-size: 12px;
    line-height: 13px;
  }

  .status {
    font-size: 50px;
    width: 250px;
  }
}

@media (max-width: 400px) {
  .primary {
    text-align: center;
    margin-bottom: 0;
  }

  .bgStatus {
    float: none;
    padding: 0;
    text-align: center;
    width: 250px;
  }


  .bgButton {
    margin: 5px;
    width: auto;
  }

  .bgStatus .currentBG {
    font-size: 70px;
    line-height: 70px;
  }

  .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
    font-size: 60px;
    padding-left: 20px;
  }

  .bgStatus .pill.direction {
    font-size: 60px;
    line-height: 60px;
  }

  .bgStatus .majorPills {
    font-size: 15px;
    line-height: 17px;
  }

  .bgStatus .minorPills {
    font-size: 12px;
    line-height: 13px;
  }

  #silenceBtn a {
    font-size: 20px;
  }

  .status {
    padding-top: 0;
    font-size: 20px;
  }

  .statusBox {
    width: auto;
  }

  #currentTime {
    display: inline;
    vertical-align: middle;
  }

  .statusPills {
    display: inline;
    margin-left: auto;
    font-size: 12px;
    line-height: 13px;
  }

  .focus-range {
    position: absolute;
    top: 60px;
    left: auto;
    right: 10px;
    margin: 0;
    width: auto;
  }

  .focus-range li {
    display: block;
  }
}

@media (max-height: 700px) {
  #chartContainer {
    font-size: 14px;
  }
}

@media (max-height: 600px) {
  #chartContainer {
    font-size: 12px;
  }
}

@media (max-height: 480px) {
  #toolbar {
    float: right;
    height: auto;
  }

  #toolbar .customTitle {
    display: none;
  }

  .container {
    top: 15px;
    padding-bottom: 20px;
  }

  #chartContainer {
    font-size: 10px;
  }
}

@media (max-height: 480px) and (min-width: 400px) {
  .bgStatus .currentBG {
    font-size: 70px;
    line-height: 60px;
  }

  .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
    font-size: 70px;
  }

  .bgStatus .pill.direction {
    font-size: 50px;
    line-height: 50px;
  }

  .bgStatus .majorPills {
    font-size: 15px;
    line-height: 17px;
  }

  .bgStatus .minorPills {
    font-size: 12px;
    line-height: 13px;
  }

  .status {
    font-size: 50px;
    padding-top: 5px;
  }

  .statusPills {
    font-size: 15px;
    line-height: 17px;
  }

}

@media (max-height: 480px) and (max-width: 400px) {

  .bgStatus {
    text-align: center;
    width: 220px;
    left: 0;
  }

  .bgStatus .currentBG {
    font-size: 60px;
    line-height: 60px;
  }

  .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
    font-size: 60px;
  }

  .bgStatus .pill.direction {
    font-size: 50px;
    line-height: 50px;
  }

  .bgStatus .majorPills {
    font-size: 15px;
    line-height: 17px;
  }

  .bgStatus .minorPills {
    font-size: 12px;
    line-height: 13px;
  }

  #silenceBtn {
    right: -25px;
  }

  .focus-range {
    position: absolute;
    top: 40px;
    left: auto;
    right: 35px;
    margin: 0;
    width: auto;
  }

  .focus-range li {
    display: block;
  }

  .statusBox {
    width: 220px;
  }

  .statusPills {
    display: inline;
    margin-left: auto;
    font-size: 12px;
    line-height: 13px;
  }
}
