@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800");
@import url("/glyphs/css/fontello.css");


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    fill: #fff;
    background: #000;
    color: #bdbdbd;
}

.container {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    top: 45px;
    width: 100%;
    z-index: 2;
}

.status {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    height: 180px;
    vertical-align: middle;
    clear: both;
}

.bgStatus {
    float: right;
    text-align: center;
    white-space: nowrap;
    padding-right: 20px;
}

.bgButton.urgent {
  color: red;
}

.bgButton.warning {
  color: yellow;
}

.bgButton.inrange {
  color: #4cff00;
}

.bgStatus .currentBG {
    font-size: 120px;
    line-height: 100px;
    text-decoration: line-through;
    vertical-align: middle;
}

.bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
  font-size: 90px;
}

.bgStatus .currentDirection {
    font-weight: normal;
    text-decoration: none;
    font-size: 90px;
    line-height: 90px;
    vertical-align: middle;
}

.bgStatus .currentDetails {
    font-size: 30px;
}

.currentDetails > span:not(:first-child) {
    margin-left: 5px;
}

.pill {
    white-space: nowrap;
    border-radius: 5px;
    border: 2px solid #808080;
}

.pill * {
    padding-left: 2px;
    padding-right: 2px;
}

.pill em {
    font-style: normal;
    font-weight: bold;
}

.pill label {
    color: #000;
    background: #808080;
}

.pill.warn em {
    color: yellow !important;
}

.pill.urgent em {
    color: red !important;
}

.alarming-timeago #lastEntry.pill.warn {
  border-color: yellow;
}
.alarming-timeago #lastEntry.pill.warn label {
  background: yellow;
}

.alarming-timeago #lastEntry.pill.urgent {
  border-color: red;
}
.alarming-timeago #lastEntry.pill.urgent label {
  background: red;
}

.bgStatus.current .currentBG {
    text-decoration: none;
}

.alarming-timeago .bgStatus.current .currentBG {
  text-decoration: line-through;
}

.time {
    color: #808080;
    font-size: 100px;
    line-height: 100px;
}
.timebox {
    text-align: center;
    width: 250px;
}
.timeOther {
    font-size: 20px;
    line-height: 30px;
}

.loading .timeOther {
    display: none;
}

.timeOther .pill {
    background: #808080;
    border-color: #808080;
}

.timeOther .pill em {
    color: #bdbdbd;
    background: #000;
    border-radius: 4px 0 0 4px;
}

.timeOther .pill label {
    background: #808080;
}

#uploaderBattery label {
    padding: 0 !important;
}

#chartContainer {
    top: 225px; /*(toolbar height + status height)*/
    left:0;
    right:0;
    bottom:0;
    height:auto;
    font-size: 20px;
    background: #111;
    display: block;
    position:absolute;
}

#chartContainer svg {
    height: calc(100vh - (180px + 45px));
    width: 100%;
    top: calc(45px + 180px);
}

.axis path,
.axis line {
  fill: none;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}

.open-right, .open-left {
  shape-rendering: crispEdges;
}
.grid path, .axis line {
  stroke: #bdbdbd;
  stroke-opacity: 1;
}

.brush .extent {
  stroke: #ffffff;
  stroke-opacity: 0;
  fill-opacity: 0;
}


#silenceBtn {
    z-index: 99;
    border-radius: 5px;
    border: 2px solid #bdbdbd;
}

#silenceBtn * {
    font-size: 40px
}

.bgButton {
  margin: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 360px;
}

.loading .bgButton .rawnoise {
    display: none;
}

.bgButton .rawnoise {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #808080;
}

.bgButton .rawnoise em {
    color: white;
    background-color: black;
    display: block;
    font-size: 20px;
}

.bgButton .rawnoise label {
    display: block;
    font-size: 14px;
}

.alarming .bgButton {
    border-color: #bdbdbd;
    color: #000;
    box-shadow: 2px 2px 0 #ddd;
}

.alarming .bgButton.urgent {
    background-color: red;
}

.alarming .bgButton.warning {
    background-color: yellow;
}

.alarming .bgButton:active {
    border: 2px solid #bdbdbd;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


.button {
    text-align: center;
    background: #ababab;
    margin: 10px auto;
}

div.tooltip {
    color: #444;
    position: absolute;
    text-align: left;
    padding: 4px;
    font-size: 14px;
    line-height: 15px;
    background: white;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

.alarms {
    display: none;
}

.loading .focus-range {
    display: none;
}

.focus-range {
    list-style: none;
    margin: 4px;
    padding: 0;
    color: #808080;
    width: 250px;
    text-align: center;
}

.focus-range li {
    display: inline-block;
    font-size: 18px;
    white-space: nowrap;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
}

.focus-range li.selected {
    border-color: #808080;
    color: #000;
    background: #808080;
}

@media (max-width: 800px) {
    .bgStatus {
        width: 300px;
    }

    .bgButton {
        width: auto;
    }

    .bgStatus .currentBG {
        font-size: 80px;
        line-height: 80px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
      font-size: 70px;
    }

    .bgStatus .currentDirection {
        font-size: 70px;
        line-height: 70px;
    }

    .bgStatus .currentDetails {
        font-size: 20px;
    }

    .time {
        font-size: 70px;
        line-height: 60px;
        padding-top: 8px;
    }

    .timeOther {
        font-size: 15px;
        line-height: 40px;
    }

    #uploaderBattery label {
        font-size: 15px !important;
    }

    .focus-range {
        margin: 0;
    }

    .focus-range li {
        font-size: 14px;
    }

    #silenceBtn * {
        font-size: 30px;
    }

    #chartContainer {
        top: 185px;
        font-size: 14px;
    }
    #chartContainer svg {
        height: calc(100vh - 185px);
    }

}

@media (max-width: 750px) {
    .bgStatus {
        width: 240px;
        padding: 0;
    }

    .bgButton .rawnoise em {
        font-size: 14px;
    }

    .bgButton .rawnoise label {
        font-size: 12px;
    }

    .bgStatus .currentBG {
        font-size: 70px;
        line-height: 60px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
      font-size: 50px;
    }

    .bgStatus .currentDirection {
        font-size: 50px;
        line-height: 50px;
    }

    .bgStatus .currentDetails {
        font-size: 15px;
    }

    .time {
        font-size: 50px;
        line-height: 40px;
        width: 250px;
    }

    #chartContainer {
        top: 165px;
    }
    #chartContainer svg {
        height: calc(100vh - 165px);
    }

}

@media (max-width: 400px) {
    .status {
        text-align: center;
        margin-bottom: 0;
        height: 152px;
    }

    .bgStatus {
        float: none;
        padding: 0;
        text-align: center;
        width: 250px;
    }


    .bgButton {
        margin: 5px;
        width: auto;
    }

    .bgStatus .currentBG {
        font-size: 70px;
        line-height: 70px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
        font-size: 60px;
        padding-left: 20px;
    }

    .bgStatus .currentDirection {
        font-size: 60px;
        line-height: 60px;
    }

    .bgStatus .currentDetails {
        font-size: 15px;
    }

    #silenceBtn * {
      font-size: 20px;
    }

    .time {
        padding-top: 0;
        font-size: 20px !important;
    }

    .timebox {
        width: auto;
    }

    #currentTime {
        display: inline;
        vertical-align: middle;
    }

    .timeOther {
        display: inline;
        margin-left: auto;
        font-size: 15px;
    }

    #uploaderBattery label {
        font-size: 15px !important;
    }

    .focus-range {
        position: absolute;
        top: 80px;
        left: initial;
        right: 10px;
        margin: 0;
        width: auto;
    }

    .focus-range li {
        display: block;
    }

    #chartContainer {
        top: 190px;
    }
    #chartContainer svg {
        height: calc(100vh - (190px));
    }
}

@media (max-height: 700px) {
    #chartContainer {
        font-size: 14px;
    }
}

@media (max-height: 600px) {
    #chartContainer {
        font-size: 12px;
    }
}

@media (max-height: 480px) {
    #toolbar {
        float: right;
        height: auto !important;
    }

    #toolbar h1 {
        display: none;
    }

    .container {
        top: 15px;
        padding-bottom: 20px;
    }

    #chartContainer {
        top: 130px;
        font-size: 10px;
    }
    #chartContainer svg {
        height: calc(100vh - 130px);
    }
}

@media (max-height: 480px) and (min-width: 400px) {
    .bgStatus .currentBG {
        font-size: 70px;
        line-height: 60px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
        font-size: 70px;
    }

    .bgStatus .currentDirection {
        font-size: 50px;
        line-height: 50px;
    }

    .bgStatus .currentDetails {
        font-size: 15px;
    }

    .time {
        font-size: 50px;
        line-height: 40px;
        padding-top: 5px;
    }

    .timeOther {
        font-size: 15px;
    }

    #uploaderBattery label {
        font-size: 15px !important;
    }

}

@media (max-height: 480px) and (max-width: 400px) {

    .bgStatus {
        text-align: center;
        width: 220px;
        left: 0;
        position: absolute;
    }

    .bgStatus .currentBG {
        font-size: 60px;
        line-height: 60px;
    }

    .bgStatus .currentBG.bg-limit, .bgStatus .currentBG.icon-hourglass {
        font-size: 60px;
    }

    .bgStatus .currentDirection {
        font-size: 50px;
        line-height: 50px;
    }

    .bgStatus .currentDetails {
        font-size: 15px;
    }

    #silenceBtn {
      right: -25px;
    }

  .focus-range {
        position: absolute;
        top: 40px;
        left: initial;
        right: 35px;
        margin: 0;
        width: auto;
    }

    .focus-range li {
        display: block;
    }

    .time {
        position: absolute;
        top: 90px;
    }

    .timebox {
        width: 220px;
    }

}
