@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800");
@import url("/glyphs/css/fontello.css");


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    fill: #fff;
    background: #000;
    color: #bdbdbd;
}

.container {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    top: 45px;
    width: 100%;
    z-index: 2;
}

.status {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    height: 180px;
    vertical-align: middle;
    clear: both;
}

.bgStatus {
    float: right;
    text-align: center;
    white-space: nowrap;
}

.bgButton.urgent {
  color: red;
}

.bgButton.warning {
  color: yellow;
}

.bgButton.inrange {
  color: #4cff00;
}

.bgStatus .currentBG {
    font-size: 120px;
    line-height: 100px;
    text-decoration: line-through;
    vertical-align: middle;
}

.bgStatus .currentBG.icon-hourglass {
  font-size: 90px;
}

.bgStatus .currentDirection {
    font-weight: normal;
    text-decoration: none;
    font-size: 90px;
    line-height: 90px;
    vertical-align: middle;
}

.bgStatus .currentDetails {
    font-size: 20px;
}

.currentDetails > span:not(:first-child) {
    margin-left: 5px;
}

span.pill {
    white-space: nowrap;
    border-radius: 5px;
    border: 2px solid #bdbdbd;
}

span.pill * {
    padding-left: 2px;
    padding-right: 2px;
}

span.pill em {
    font-style: normal;
    font-weight: bold;
}

span.pill label {
    color: #000;
    background: #bdbdbd;
}

.bgStatus.current .currentBG {
    text-decoration: none;
}

.time {
    color: #808080;
    font-size: 100px;
    line-height: 100px;
    padding-top: 15px;
}
.timebox {
    text-align: center;
    width: 250px;
}
.timeOther {
    font-size: 20px;
    line-height: 30px;
}
#lastEntry {
    background: #808080;
    border-color: #808080;
}

#lastEntry.pill em {
    color: #808080;
    background: #000;
}

#lastEntry.pill label {
    background: #808080;
}

#lastEntry.warn, #lastEntry.warn label {
    background: yellow;
    border-color: yellow;
}
#lastEntry.warn em {
    color: yellow;
}

#lastEntry.urgent, #lastEntry.urgent label {
    background: red;
    border-color: red;
}
#lastEntry.urgent em {
    color: red;
}

#chartContainer {
    top: 225px; /*(toolbar height + status height)*/
    left:0;
    right:0;
    bottom:0;
    height:auto;
    font-size: 20px;
    background: #111;
    display: block;
    position:absolute;
}

#chartContainer svg {
    height: calc(100vh - (180px + 45px));
    width: 100%;
    top: calc(45px + 180px);
}

.axis path,
.axis line {
  fill: none;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}

.open-right, .open-left {
  shape-rendering: crispEdges;
}
.grid path, .axis line {
  stroke: #bdbdbd;
  stroke-opacity: 1;
}

.brush .extent {
  stroke: #ffffff;
  stroke-opacity: 0;
  fill-opacity: 0;
}


#silenceBtn {
    z-index: 99;
    border-radius: 5px;
    border: 2px solid #bdbdbd;
}

#silenceBtn * {
    font-size: 40px
}

.bgButton {
  margin: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 320px;
}

.alarming .bgButton {
  border-color: #bdbdbd;
  color: #000;
  box-shadow: 2px 4px 6px #ddd;
}

.alarming .bgButton.urgent {
  background-color: red;
}

.alarming .bgButton.warning {
  background-color: yellow;
}

.alarming .bgButton:active {
    border: 2px solid #bdbdbd;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.button {
    text-align: center;
    background: #ababab;
    margin: 10px auto;
}

div.tooltip {
    color: #444;
    position: absolute;
    text-align: left;
    padding: 4px;
    font-size: 14px;
    line-height: 15px;
    background: white;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

.alarms {
    display: none;
}

@media (max-width: 800px) {
    .bgStatus {
        width: 40%;
    }

    .bgButton {
        width: auto;
    }

    .bgStatus .currentBG {
        font-size: 80px;
        line-height: 80px;
    }

    .bgStatus .currentBG.icon-hourglass {
      font-size: 70px;
    }

    .bgStatus .currentDirection {
        font-size: 70px;
        line-height: 70px;
    }

    .time {
        font-size: 70px;
        line-height: 60px;
    }

    .timeOther {
        font-size: 15px;
        line-height: 40px;
    }

    #silenceBtn * {
        font-size: 30px;
    }

    #chartContainer {
        top: 185px;
    }
    #chartContainer svg {
        height: calc(100vh - 185px);
    }

}

@media (max-width: 750px) {
    .bgStatus {
        width: 60%;
    }

    .bgStatus .currentBG {
        font-size: 70px;
        line-height: 60px;
    }

    .bgStatus .currentBG.icon-hourglass {
      font-size: 50px;
    }

    .bgStatus .currentDirection {
        font-size: 50px;
        line-height: 50px;
    }

    .bgStatus .currentDetails {
        font-size: 15px;
    }

    .time {
        font-size: 50px;
        line-height: 40px;
        width: 250px;
    }

    #chartContainer {
        top: 165px;
    }
    #chartContainer svg {
        height: calc(100vh - 165px);
    }

}

@media (max-width: 400px) {
    .status {
        text-align: center;
        margin-bottom: 0;
        height: 152px;
    }

    .bgStatus {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 100vw;
    }

    .bgButton {
        margin: 5px;
        width: auto;
    }

    .bgStatus .currentBG {
        font-size: 70px;
        line-height: 70px;
    }

    .bgStatus .currentBG.icon-hourglass {
        font-size: 60px;
    }

    .bgStatus .currentDirection {
        font-size: 60px;
        line-height: 60px;
    }

    .bgStatus .currentDetails {
        font-size: 15px;
    }

    .dropdown-menu {
        font-size: 50px !important;
        margin-left: 2vw;
        width: 96vw;
    }

    .time {
        width: auto;
        padding-top: 0;
        font-size: 20px !important;
    }

    #container.alarming .time {
        display: none;
    }

    .timebox {
        width: auto;
    }

    #currentTime {
        display: inline;
        vertical-align: middle;
    }

    .timeOther {
        display: inline;
        margin-left: auto;
        font-size: 15px;
    }

    #chartContainer {
        top: 210px;
    }
    #chartContainer svg {
        height: calc(100vh - (210px));
    }
}

@media (max-height: 700px) {
    #chartContainer {
        font-size: 15px;
    }
}

@media (max-height: 600px) {
    #chartContainer {
        font-size: 12px;
    }
}

@media (max-height: 480px) {
    #toolbar {
        float: right;
        height: auto !important;
    }

    #toolbar h1 {
        display: none;
    }

    .container {
        top: 15px;
        padding-bottom: 20px;
    }

    #chartContainer {
        top: 130px;
        font-size: 10px;
    }
    #chartContainer svg {
        height: calc(100vh - 130px);
    }
}

@media (max-height: 480px) and (min-width: 400px) {
    .bgStatus .currentBG {
        font-size: 80px;
        line-height: 80px;
    }

    .bgStatus .currentBG.icon-hourglass {
        font-size: 70px;
    }

    .bgStatus .currentDirection {
        font-size: 70px;
        line-height: 70px;
    }

    .bgStatus .currentDetails {
        font-size: 15px;
    }

    .time {
        font-size: 70px;
        line-height: 60px;
    }

    .timeOther {
        font-size: 15px;
    }

}

@media (max-height: 480px) and (max-width: 400px) {

    .bgStatus .currentBG {
        font-size: 60px;
        line-height: 60px;
    }

    .bgStatus .currentBG.icon-hourglass {
        font-size: 60px;
    }

    .bgStatus .currentDirection {
        font-size: 50px;
        line-height: 50px;
    }

    .bgStatus .currentDetails {
        font-size: 15px;
    }

}
