@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800");
@import url("/glyphs/css/fontello.css");


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: white;
  color: black;
}

#.centeraligned {
  text-align:center;
}

ul#tabnav {
  text-align: left;
  margin: 1em 0 1em 0;
  font: bold 11px verdana, arial, sans-serif;
  border-bottom: 1px solid #6c6;
  list-style-type: none;
  padding: 3px 10px 3px 10px;
}

ul#tabnav li {
  display: inline;
}

ul#tabnav li{
  padding: 3px 4px;
  border: 1px solid #6c6;
  background-color: #cfc;
  color: #666;
  margin-right: 0;
  text-decoration: none;
  border-bottom: none;
}

ul#tabnav li.selected  {
  background: #fff;
}

ul#tabnav li:hover {
  background: #9f9;
  cursor:pointer;
}
