@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800");
@import url("/glyphs/css/fontello.css");


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: white;
  color: black;
}

.centeraligned {
  text-align:center;
}

#tabnav {
  text-align: left;
  margin: 1em 0 1em 0;
  font: bold 11px verdana, arial, sans-serif;
  border-bottom: 1px solid #6c6;
  list-style-type: none;
  padding: 3px 10px 3px 10px;
}

#tabnav li{
  display: inline;
  padding: 3px 4px;
  border: 1px solid #6c6;
  background-color: #cfc;
  color: #666;
  margin-right: 0;
  text-decoration: none;
  border-bottom: none;
}

#tabnav .selected  {
  background: #fff;
}

#tabnav li:hover {
  background: #9f9;
  cursor:pointer;
}

.tooltip {
  top: 0;
  left: 0;
  color: #444;
  position: absolute;
  text-align: left;
  padding: 4px;
  font-size: 14px;
  line-height: 15px;
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  float: right;
  min-width: 150px;
  max-width: 400px;
}