body {
  text-align: center;
  margin: 0 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans';
  color: grey;
  background-color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100vh;
}

.inner {
  width: 100%;
  -webkit-transform: translateY(-2%);
}

#trend {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#bgnow, #arrowDiv {
  display: flex;
  flex-grow: 0;
  font-weight: 700;
  font-size: 30vmin;
  padding: 0 20px;
  margin: 0;
}

img#arrow {
  height: 18vmin;
  filter: brightness(50%);
  -webkit-transform: translateY(5%);
}

#clock {
  font-weight: 700;
  font-size: 25vmin;
}

.stale {
  text-decoration: line-through;
}

.close {
  color: white;
  font: 4em 'Open Sans';
  position: absolute;
  right: 20px;
  text-decoration: none;
}

.close:after {
  content: '\00D7';
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}