
	<%- include('shared.html', {}); %>
    
	<script type="text/javascript">
		function query ( ) {
			console.log('query');
			$.ajax('/api/v1/entries/current.json', { success: render });
		}

		function render (xhr) {
			console.log('xhr', xhr);
			
			var rec = xhr[0];
			var last = new Date(rec.date);
			var now = new Date( );
			
			// Convert BG to mmol/L if necessary.
			if (window.serverSettings.settings.units == 'mmol') {
				rec.sgv = Nightscout.units.mgdlToMMOL(rec.sgv);
			}
			
			// Insert the BG value text.
			$('#bgnow').html(rec.sgv);
			
			// Insert the trend arrow.
			$('#arrow').attr('src', 'images/'+rec.direction+'.svg');
			
			// Time before data considered stale.
			var staleMinutes = 13;										
			var threshold = 1000 * 60 * staleMinutes;
			
			// Toggle stale if necessary.
			$('#bgnow').toggleClass('stale', (now - last > threshold));

			// Generate and insert the clock.
			var timeDivisor = (window.serverSettings.settings.timeFormat) ? window.serverSettings.settings.timeFormat : 12;
			var today = new Date(),
			h = today.getHours() % timeDivisor;
			if (timeDivisor == 12) {
				h = (h == 0) ? 12 : h; // In the case of 00:xx, change to 12:xx for 12h time
			}
			if (timeDivisor == 24) {
				h = (h < 10) ? ("0" + h) : h; // Pad the hours with a 0 in 24h time
			}
			m = today.getMinutes();
			if (m < 10) m = "0" + m;
			$('#clock').text(h + ":" + m);
		}

		function init ( ) {
			console.log('init');
			query( );
			setInterval(query, 1 * 60 * 1000);
		}

		init( );
	</script>
</body>
</html>
