
.icon-help-circled:before { content: '\e800'; } /* '' */
.icon-angle-double-up:before { content: '\e801'; } /* '' */
.icon-angle-double-down:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-volume:before { content: '\e80a'; } /* '' */